COMPOSE_PROJECT_NAME=microservices_example
SECRET_KEY=************SIGNING_KEY***************

PORT=8000
DEBUG=True

MESSAGING_SYSTEM=rabbitmq

RABBITMQ_HOST=localhost
RABBITMQ_USER=***
RABBITMQ_PWD=***
RABBITMQ_WEB_PORT=15674
RABBITMQ_PORT=5674

KAFKA_BROKER=localhost:9092