COMPOSE_PROJECT_NAME=microservices_example
SECRET_KEY=************SIGNING_KEY***************

FLASK_ENV=development
PORT=8002

MESSAGING_SYSTEM=rabbitmq

EMAIL_SENDER_ID=***************
EMAIL_HOST_USER=***************
EMAIL_HOST_PASSWORD=***********
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587

RABBITMQ_HOST=localhost
RABBITMQ_USER=***
RABBITMQ_PWD=***
RABBITMQ_WEB_PORT=15674
RABBITMQ_PORT=5674

KAFKA_BROKER=localhost:9092